.border-style\:none {
  border-style: none !important;
}
.border-style\:hidden {
  border-style: hidden !important;
}
.border-style\:dotted {
  border-style: dotted !important;
}
.border-style\:dashed {
  border-style: dashed !important;
}
.border-style\:solid {
  border-style: solid !important;
}
.border-style\:double {
  border-style: double !important;
}
.border-style\:groove {
  border-style: groove !important;
}
.border-style\:ridge {
  border-style: ridge !important;
}
.border-style\:inset {
  border-style: inset !important;
}
.border-style\:outset {
  border-style: outset !important;
}
