.margin\:0 {
  margin: 0 !important;
}
.padding\:0 {
  padding: 0 !important;
}

.display\:block {
  display: block !important;
}
.display\:inline {
  display: inline !important;
}
.display\:grid {
  display: grid !important;
}
.display\:flex {
  display: flex !important;
}
.display\:none {
  display: none !important;
}

.position\:static {
  position: static !important;
}
.position\:relative {
  position: relative !important;
}
.position\:absolute {
  position: absolute !important;
}
.position\:fixed {
  position: fixed !important;
}
.position\:sticky {
  position: sticky !important;
}

.max-width\:var\(\-\-measure\) {
  max-width: var(--measure) !important;
}
.max-width\:unset {
  max-width: unset !important;
}

@media screen {
  .screen\:none {
    display: none !important;
  }
}
@media print {
  .print\:none {
    display: none !important;
  }
}
