.box,
.boxInvert {
  --border-width: var(--s-2);

  width: fit-content;

  padding: var(--s1);

  outline-width: 0.125rem;
  outline-offset: -0.125rem;
  outline-color: transparent;
  outline-style: solid;

  border-width: var(--border-width);
  border-style: solid;

  & * {
    color: inherit;
  }
}

.box {
  background-color: var(--color-background);
  color: var(--color-text);
  border-color: var(--color-text);
}
.boxInvert {
  background-color: var(--color-invert-background);
  color: var(--color-invert-text);
  border-color: var(--color-invert-text);
}
