.box {
  padding: var(--s-1);

  outline-width: 0.125rem;
  outline-offset: -0.125rem;
  outline-color: transparent;
  outline-style: solid;

  border-width: var(--border-width);
  border-style: solid;

  --border-width: var(--s-3);
  border-color: var(--color-text);
}
