.cover {
  --space: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--space);

  & > * {
    margin-top: var(--space);
    margin-bottom: var(--space);
  }

  & > :only-child,
  & > .centered {
    margin-top: auto;
    margin-bottom: auto;
  }

  & > :first-child:not(.centered):not(:only-child) {
    margin-top: 0;
  }

  & > :last-child:not(.centered):not(:only-child) {
    margin-bottom: 0;
  }
}
