.reel {
  --space: var(--s1);

  display: flex;
  overflow-x: auto;
  padding-bottom: var(--s-1);

  scrollbar-color: var(--color-offset) var(--color-background);

  /* stylelint-disable selector-pseudo-element-no-unknown */
  &::-webkit-scrollbar {
    height: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
    background-image: linear-gradient(
      var(--color-background) 0,
      var(--color-background) 0.25rem,
      var(--color-offset) 0.25rem,
      var(--color-offset) 0.75rem,
      var(--color-background) 0.75rem
    );
  }

  & > * + * {
    margin-left: var(--space);
  }
}
