.sidebarRoot {
  --space: var(--s1);
  overflow: hidden;

  & > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--space) / 2 * -1);
  }

  & > * > * {
    margin: calc(var(--space) / 2);
    flex-grow: 1;
  }
}
