@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-BlackItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 800;
}
