@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-ThinItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-ExtraLightItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-ExtraBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans/PublicSans-BlackItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 900;
}
