#__next > article:only-of-type,
#__next > .default-layout,
#__next > * > article:only-of-type,
#__next > * > .default-layout {
  margin-top: var(--s2);
  margin-bottom: var(--s2);
}

/*** Page Size ***/
:root {
  --page-content-width: calc(min(110ch, 11/13 * 100vw));
}
