.invert-title {
  --color-background: var(--color-invert-background);
  --color-text: var(--color-invert-text);
  --color-text-highlight: var(--color-invert-text-highlight);

  color: var(--color-text);
  background: var(--color-background);

  text-align: center;
  padding-left: var(--s0);
  padding-right: var(--s0);
  padding-top: var(--s-2);
  padding-bottom: var(--s-2);
}
