.invert-title {
  --color-background: var(--color-invert-background);
  --color-text: var(--color-invert-text);
  --color-text-highlight: var(--color-invert-text-highlight);

  color: var(--color-text);
  background: var(--color-background);

  flex-basis: 13ch;

  writing-mode: vertical-rl;
}

.line-item .invert-title {
  flex-basis: content;
}
