:--button {
  background: none;
  border-style: solid;
  border-radius: 0.5ch;
  border-width: var(--s-4);
  border-color: currentColor;
  color: currentColor;
  padding-block: var(--s-3);
  padding-inline: var(--s-2);

  &:focus {
    color: var(--color-offset);
  }
}
