/* stylelint-disable no-descending-specificity */

:--button {
  background: none;
  border-style: solid;
  border-radius: 0.5ch;
  border-width: var(--s-4);
  border-color: currentColor;
  color: currentColor;
  padding-block: var(--s-3);
  padding-inline: var(--s-2);

  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:hover:active {
    color: var(--color-offset);
  }
  &:focus,
  &:focus:active {
    outline-width: var(--s-3);
    outline-color: var(--color-outline);
    outline-style: solid;
    outline-offset: var(--s-4);
  }
}
