:root {
  /*** Moss and Sky Colorscheme ***/
  /* peat */
  --c0: lab(14 -4 0);

  /* moss */
  --c1: lab(24 -12 7);

  /* nowhere */
  --c2: lab(88 -2 -4);
}

@for $i from 0 to 3 {
  [data-bg="c#{$i}"] {
    background-color: var(--c#{$i});
  }

  [data-tc="c#{$i}"] {
    color: var(--c#{$i});
  }
}

/*** Default Colors ***/
:root {
  background: var(--c0);
  color: var(--c2);
}
