:root {
  /*** Regular Ass Colors ***/
  --white: lab(98 1 5);

  --black: lab(22 -3 -1);
  --lighter-black: lab(35 -3 -1);

  --blue: lab(49 -2 -44);
  --desaturated-blue: lab(80 -2 -44);

  --violet: lab(41 38 -45);
  --desaturated-violet: lab(72 38 -45);
}

:root {
  --color-background: var(--white);
  --color-text: var(--lighter-black);
  --color-link: var(--blue);
  --color-visited: var(--violet);
  --color-outline: var(--blue);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--white);
    --color-text: var(--lighter-black);
    --color-link: var(--blue);
    --color-visited: var(--violet);
    --color-outline: var(--blue);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
    --color-link: var(--desaturated-blue);
    --color-visited: var(--desaturated-violet);
    --color-outline: var(--desaturated-blue);
  }
}

/*** Default Colors ***/
:root {
  background: var(--color-background);
  color: var(--color-text);
}

a:link {
  color: var(--color-link);
}
a:visited {
  color: var(--color-visited);
}
