:root {
  /*** Moss and Sky Colorscheme ***/
  /* peat */
  --peat: lab(14 -4 0);

  /* moss */
  --moss: lab(24 -12 7);

  /* twilight */
  --twilight: lab(32 -13 -10);

  /* stream */
  --stream: lab(47 -18 -2);

  /* nowhere */
  --nowhere: lab(88 -2 -4);
}

[data-bg="peat"] {
  background-color: var(--peat);
}
[data-bg="moss"] {
  background-color: var(--moss);
}
[data-bg="twilight"] {
  background-color: var(--twilight);
}
[data-bg="stream"] {
  background-color: var(--stream);
}
[data-bg="nowhere"] {
  background-color: var(--nowhere);
}

[data-tc="peat"] {
  color: var(--peat);
}
[data-tc="moss"] {
  color: var(--moss);
}
[data-tc="twilight"] {
  color: var(--twilight);
}
[data-tc="stream"] {
  color: var(--stream);
}
[data-tc="nowhere"] {
  color: var(--nowhere);
}

/*** Default Colors ***/
:root {
  background: var(--peat);
  color: var(--nowhere);
}
