@import "styles/fonts/epilogue.css";
@import "styles/fonts/broadsheet.css";
@import "styles/fonts/merriweather.css";
@import "styles/fonts/public-sans.css";

@font-face {
  /* This is a variable font, so we don't need to import all those variations
   * in a separate file. */
  font-family: "Recursive";
  src: url("/fonts/Recursive.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --font-fallback: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --monospace-font-fallback: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.font-family\:Broadsheet {
  font-family: Broadsheet, var(--font-fallback);
}
.font-family\:Epilogue {
  font-family: Epilogue, var(--font-fallback);
}
.font-family\:Recursive {
  font-family: Recursive, var(--font-fallback);
}
.font-family\:Merriweather {
  font-family: Merriweather, var(--font-fallback);
}
.font-family\:Public-Sans {
  font-family: Public Sans, var(--font-fallback);
}

:root {
  font-family: Public Sans, var(--font-fallback);
}

code {
  font-family: Recursive, var(--monospace-font-fallback);
}
