html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
}

* {
  line-height: 116%;
}

a {
  cursor: pointer;

  padding: var(--s-3);
  border-radius: var(--s-3);

  text-decoration: underline currentcolor;

  &:hover,
  &:active {
    filter: brightness(0.7);
  }
}
