html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#title {
  max-width: fit-content;
  padding: var(--s1);

  background: var(--moss);
  font-size: var(--s2);
  border-radius: 0.25ch;

  & h1 {
    margin: 0;
  }
}
