html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

* {
  --measure: 60ch;
  max-width: var(--measure);
}

article,
body,
div,
header,
html,
footer,
main,
nav,
section {
  max-width: none;
}

p,
span {
  line-height: var(--s1);
}

a {
  padding: var(--s-3);
  border-radius: var(--s-3);

  background-color: var(--twilight);
  text-decoration: underline currentcolor;

  &:visited {
    background-color: var(--peat);
  }

  &:focus,
  &:hover,
  &:active {
    filter: brightness(0.8);
  }
}

[data-role="title"] {
  max-width: fit-content;
  padding: var(--s-2) var(--s2) var(--s0);
  margin-inline: calc(-1 * var(--s2));

  background: var(--stream);
  color: var(--moss);
  font-size: var(--s1);
  border-radius: var(--s-2);
  text-decoration: dotted underline 0.5ch;

  & h1 {
    margin: 0;
  }
}

footer[data-role="reference"] {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;

  justify-content: space-evenly;
  align-items: center;

  width: 50vw;
  padding: 2ch;

  & > * {
    padding: 1ch;
    border-radius: var(--s-2);
    border: 1px solid black;
  }
}
