/*** Modular Scale ***/
$scale: 1.62;
:root {
  --s-4: calc(var(--s3) / $scale);
  --s-3: calc(var(--s2) / $scale);
  --s-2: calc(var(--s1) / $scale);
  --s-1: calc(var(--s0) / $scale);
  --s0: 1rem;
  --s1: calc(var(--s0) * $scale);
  --s2: calc(var(--s1) * $scale);
  --s3: calc(var(--s2) * $scale);
  --s4: calc(var(--s3) * $scale);
}
