/***
 * font size
 */
:root {
  font-size: calc(1rem + 0.35vmin);
}

/***
 * line height
 */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--large-heading h1, h2;
@custom-selector :--small-heading h3, h4, h5, h6;

* {
  line-height: 1.62;
}
:--heading {
  line-height: initial;
}

/* stylelint-disable no-descending-specificity */

/***
 * measure
 */
* {
  --measure: 60ch;
  max-width: var(--measure);
}

/* stylelint-enable no-descending-specificity */

article,
body,
div,
dl,
header,
html,
footer,
main,
nav,
section,
ul,
ol {
  max-width: initial;
}

/* This is a neat trick from Mozilla's default style sheet for Firefox.
 * Effectively: An h1 is an h1, unless it's a header nested under 
 * <nav> <section> <section> <aside>, in which case it should look like an h4.
 * Reference: https://hg.mozilla.org/mozilla-central/file/tip/layout/style/res/html.css */
@custom-selector :--section-element article, aside, nav, section;

h1 {
  font-size: 2.2em;
}
h2,
:is(--section-element) h1 {
  font-size: 1.68em;
}
h3,
:is(--section-element) :is(--section-element) h1 {
  font-size: 1.38em;
}
h4,
:is(--section-element) :is(--section-element) :is(--section-element) h1 {
  font-size: 1em;
}
h5,
:is(--section-element)
  :is(--section-element)
  :is(--section-element)
  :is(--section-element)
  h1 {
  font-size: 0.8em;
}
h6,
:is(--section-element)
  :is(--section-element)
  :is(--section-element)
  :is(--section-element)
  :is(--section-element)
  h1 {
  font-size: 0.6em;
}

:--large-heading {
  margin-block-start: 1.5em;
  margin-block-end: 0.5em;
}
:--small-heading {
  margin-block-start: 0.75em;
  margin-block-end: 0.25em;
}

em.glow,
.p-nickname {
  /* text-shadow: 0 0.05rem 0.2rem var(--color-offset); */
  text-shadow: 0 0.07rem 0.15rem var(--color-text-highlight);
}
